[Unit]
Description=gvisor-tap-vsock Network Traffic Forwarder
Requires=network.service
After=network.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
ExecStop=/bin/kill -s TERM $MAINPID
ExecStart=/usr/bin/gvforwarder -iface tap0

[Install]
WantedBy=default.target
