[submodule "rootfs"]
	path = rootfs/buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "kernel"]
	path = linux/kernel
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
