[Unit]
Requires=dev-virtio\\x2dports-vsock.device sys-devices-virtual-net-tap0.device
Requires=sshd.service podman.socket gvforwarder.service
After=sshd.service podman.socket gvforwarder.service sys-devices-virtual-net-tap0.device
ConditionPathExists=/opt/ready.command
OnFailure=emergency.target
OnFailureJobMode=isolate
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '. /opt/ready.command'
[Install]
WantedBy=default.target

